@media screen and (max-width: 1921px) {

  .title {
    background-size: 1920px 1420px;
  }
}

@media screen and (max-width: 1199px) {

  .main-container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .products-container {
    padding-right: 0;

    .products-block {
      justify-content: center;

      .product {
        margin-right: 24px;
      }
    }
  }

}

@media screen and (max-width: 1024px) {
  .advantages-container {
    padding-top: 0;

    .advantages-block {
      justify-content: center;
      flex-wrap: wrap;

      .advantage {
        margin-bottom: 48px;
      }
    }
  }
  .title-container {
    padding-bottom: 700px;
  }

}

@media screen and (max-width: 767px) {

  .header-container {
    .menu {
      display: none;
    }
    .menu-burger {
      display: block;
    }
    .header-none {
      display: none;
    }
  }

  .title-container {
    padding-bottom: 810px;
  }

  .products-container {
    .products-select-size {
      justify-content: center;
      flex-wrap: wrap;
      width: 390px;

      .products-size-select-button {
        margin-left: 24px;
      }
    }
  }

  .order-container {
    padding-top: 48px;

    .order-block {
      justify-content: center;

      .order-form {
        margin-bottom: 96px;
        margin-right: 0;
      }
      .order-image {
        bottom: 160px;

        img {
          width: 390px;
        }
      }
    }
  }


}

@media screen and (max-width: 424px) {
  h2 {
    font-size: 36px;
  }

  .title {
    background-image: url("../../images/pizza-first-screen.png");
    background-position: bottom;
    background-size: 500px 500px;
    background-repeat: no-repeat;
  }

  .title-container {
    padding-top: 96px;
    padding-bottom: 200px;

    .title-title {
      font-size: 50px;
      line-height: 60px;
    }
    .title-text {
      font-size: 16px;
    }
  }

  .products-container {
    padding-top: 0;
    .products-select-size {
      width: 290px;

      .products-size-select-button {
        margin-bottom: 24px;
        margin-left: 0;
      }
    }

    .products-block {
      .product {
        margin-right: 15px;

        .product-images {
          img {
            width: 290px;
          }
        }
        .product-images-block {
          img {
            width: 32px;
            height: 32px;
          }
        }

        .product-order-block {
          .product-price {
            margin-right: 24px;
            font-size: 24px;
          }
          .product-button {
            width: 180px;
          }
        }
      }
    }
  }

  .order-container {
    padding-top: 0;

    .order-block {
      justify-content: center;

      .order-form {
        margin-bottom: 96px;
        margin-right: 0;

        .order-input {
          width: 290px;
        }

        .order-button {
          width: 290px;
        }
      }

      .order-image {
        bottom: 230px;

        img {
          width: 290px;
        }
      }
    }
  }

  .advantages-container {
    padding-top: 0;

    .advantages-block {
      justify-content: center;
      flex-wrap: wrap;

      .advantage {
        margin-bottom: 48px;

        .advantage-title-block {
          width: 290px;

          .advantage-title {
            font-size: 26px;
          }
        }
      }
    }
  }
}